<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../css/login-style.css" />
    <link rel="stylesheet" href="../css/general.css" />
    <title>Login</title>
  </head>
  <body>
    <section class="login-section">
      <form class="login-form" name="login-form" method="post" action="">
        <h1 class="login-title grid-row">AIDI Portal</h1>
        <div class="user-id grid-row">
          <label for="user-id">User ID</label>
          <input
            id="user-id"
            type="text"
            name="user-id"
            placeholder="Your ID"
          />
        </div>
        <div class="user-pw grid-row">
          <label for="user-pw">Password</label>
          <input
            id="user-pw"
            type="password"
            name="user-pw"
            placeholder="Your Password"
          />
        </div>
        <div class="login-btns grid-row">
          <button class="btn btn--login">login</button>
          <button class="btn btn--signup">sign up</button>
        </div>
      </form>
    </section>
  </body>
</html>
