doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='css/login-style.css')
  link(rel='stylesheet' href='css/general.css')
  link(rel="shortcut icon" type="image/png" href="img/favicon.png")
  title Login
section.login-section
  form.login-form(name='login-form')
    h1.login-title.grid-row AIDI Portal
    .user-id.grid-row
      label(for='user-name') User ID
      input#user-name(type='text' placeholder='Your Name')
    .user-pw.grid-row
      label(for='user-pw') Password
      input#user-pw(type='password' placeholder='Your Password')
    .login-btns.grid-row
      button.btn.btn--login login
      button.btn.btn--signup sign up 
script(src='/js/bundle.js')
