<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../public/css/general.css" />
    <link rel="stylesheet" href="../public/css/overview.css" />
    <link rel="stylesheet" href="../public/css/productivity.css" />
    <title>Productivity</title>
  </head>
  <body>
    <section class="nav-section">
      <div class="info">
        <div class="time">
          <span>Time:</span>
          <span id="time--text" class="time--text">-</span>
        </div>
        <div class="identity">
          <p>
            <span class="role">Grader</span>:
            <span class="user-name">Chris Cheung</span>
          </p>
        </div>
      </div>
      <div class="menu">
        <ul class="menu-list">
          <li>
            <a class="menu-list-item" href="#">Schedule</a>
          </li>
          <li>
            <a class="menu-list-item" href="#">Report</a>
          </li>
          <li>
            <a class="menu-list-item" href="#">Productivity</a>
          </li>
          <li>
            <a class="menu-list-item" href="#">Timesheet</a>
          </li>
        </ul>
      </div>
    </section>

    <section class="productivity-section">
      <div class="table-container">

        <div class="productivity-input-table">

            <span class="table-title">Project Name</span>
            <span class="table-title">Done</span>
            <span class="table-title">Total Hr</span>
            <span class="table-title">Break hr</span>

            <span class="table-title">project-abc</span>
            <span><input type="number" class="productivity-input-done"></input></span>
            <span><input type="number" class="productivity-input-totalHr"></input></span>
            <span><input type="number" class="productivity-input-breakHr"></input></span>

            <span class="table-title">project-def</span>
            <span><input type="number" class="productivity-input-done"></input></span>
            <span><input type="number" class="productivity-input-totalHr"></input></span>
            <span><input type="number" class="productivity-input-breakHr"></input></span>

            <span class="table-title">project-def</span>
            <span><input type="number" class="productivity-input-done"></input></span>
            <span><input type="number" class="productivity-input-totalHr"></input></span>
            <span><input type="number" class="productivity-input-breakHr"></input></span>
        </div>
        <button class="productivity-btn">Submit</button>

        <div class="productivity-daily-table">
          <span class="table-title"></span>
          <span class="table-title">Total Hr</span>
          <span class="table-title">Break hr</span>
          <span class="table-title">CC Hr</span>
          <span class="table-title">Calculated AHr</span>

          <span class="table-title">John Lai</span>
          <span>23</span>
          <span>1</span>
          <span>3</span>
          <span>5</span>

          <!-- <span class="table-title">Grader B</span>
          <span>8</span>
          <span>1</span>
          <span>4</span>
          <span>5</span>

          <span class="table-title">Grader C</span>
          <span>9</span>
          <span>1.2</span>
          <span>4</span>
          <span>4</span>

          <span class="table-title">Grader D</span>
          <span>12</span>
          <span>3</span>
          <span>4</span>
          <span>5</span>

          <span class="table-title">Grader E</span>
          <span>11</span>
          <span>4</span>
          <span>5</span>
          <span>5</span>

          <span class="table-title">Grader F</span>
          <span>12</span>
          <span>2</span>
          <span>6</span>
          <span>5</span> -->

        </div>
      </div>
    </section>
  </body>
</html>
