<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../public/css/general.css" />
    <link rel="stylesheet" href="../public/css/overview.css" />
    <link rel="stylesheet" href="../public/css/projectStatus.css" />
    <title>Overview</title>
  </head>
  <body>
    <section class="nav-section">
      <div class="info">
        <div class="time">
          <span>Time:</span>
          <span id="time--text" class="time--text">-</span>
        </div>
        <div class="identity">
          <p>
            <span class="role">Grader</span>:
            <span class="user-name">Chris Cheung</span>
          </p>
        </div>
      </div>
      <div class="menu">
        <ul class="menu-list">
          <li>
            <a class="menu-list-item" href="#">Schedule</a>
          </li>
          <li>
            <a class="menu-list-item" href="#">Report</a>
          </li>
          <li>
            <a class="menu-list-item" href="#">Productivity</a>
          </li>
          <li>
            <a class="menu-list-item" href="#">Timesheet</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="project-status-section">
      <div class="project-status">
        <div class="container-left">
          <div class="project-status-table">
            <div class="row header">
              <h2>Grader</h2>
              <h2>Mins</h2>
              <h2>Count</h2>
              <h2>Pop-up</h2>
              <h2>Project ID</h2>
              <h2>Locale</h2>
            </div>
            <div class="row">
              <p>Chris</p>
              <p>0.15</p>
              <p>3</p>
              <p>✅</p>
              <p>✅</p>
              <p>✅</p>
            </div>
            <div class="row">
              <p>Ken</p>
              <p>0.21</p>
              <p>2</p>
              <p>✅</p>
              <p>✅</p>
              <p>✅</p>
            </div>
            <div class="row">
              <p>Herry</p>
              <p>-</p>
              <p></p>
              <p></p>
              <p></p>
              <p></p>
            </div>
            <div class="row">
              <p>Jen</p>
              <p>-</p>
              <p></p>
              <p></p>
              <p></p>
            </div>
          </div>
        </div>
        <div class="container-right">
          <div>
            <label for="project-select">Choose a project: </label>
          </div>
          <select name="projects" id="project-select">
            <option value="">Please choose a project</option>
            <option value="project-a">project-a</option>
            <option value="project-b">project-b</option>
            <option value="project-c">project-c</option>
            <option value="project-d">project-d</option>
            <option value="project-e">project-e</option>
          </select>
          <button class="refresh">Refresh</button>
        </div>
      </div>
    </section>
  </body>
</html>
