<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../css/general.css" />
    <link rel="stylesheet" href="../css/overview.css" />
    <link rel="stylesheet" href="../css/report.css" />
    <title>Schedule</title>
  </head>
  <body>
    <section class="nav-section">
      <div class="info">
        <div class="time">
          <span>Time:</span>
          <span id="time--text" class="time--text">-</span>
        </div>
        <div class="identity">
          <p>
            <span class="role">Grader</span>:
            <span class="user-name">Chris Cheung</span>
          </p>
        </div>
      </div>
      <div class="menu">
        <ul class="menu-list">
          <li>
            <a class="menu-list-item" href="#">Schedule</a>
          </li>
          <li>
            <a class="menu-list-item" href="#">Report</a>
          </li>
          <li>
            <a class="menu-list-item" href="#">Productivity</a>
          </li>
          <li>
            <a class="menu-list-item" href="#">Timesheet</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="schedule-section">
      <div class="schedule-grid">
        <div></div>
      </div>
    </section>
  </body>
  <script defer src="../js/script.js"></script>
</html>
