<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../public/css/general.css" />
    <link rel="stylesheet" href="../public/css/overview.css" />
    <link rel="stylesheet" href="../public/css/timesheet.css" />
    <title>Timesheet</title>
  </head>
  <body>
    <section class="nav-section">
      <div class="info">
        <div class="time">
          <span>Time:</span>
          <span id="time--text" class="time--text">-</span>
        </div>
        <div class="identity">
          <p>
            <span class="role">Grader</span>:
            <span class="user-name">Chris Cheung</span>
          </p>
        </div>
      </div>
      <div class="menu">
        <ul class="menu-list">
          <li>
            <a class="menu-list-item" href="#">Schedule</a>
          </li>
          <li>
            <a class="menu-list-item" href="#">Report</a>
          </li>
          <li>
            <a class="menu-list-item" href="#">Productivity</a>
          </li>
          <li>
            <a class="menu-list-item" href="#">Timesheet</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="timesheet-section">
      <div class="grid-container">
        <div class="timesheet-input-table">
          <span class="table-title">Date</span>
          <span class="table-title">Start</span>
          <span class="table-title">End</span>
          <span class="table-title">Break Hr</span>
          <span class="table-title">Working Hr</span>
          <span class="table-title">Late/Leave</span>
          <span class="table-title">Overtime</span>
          <span class="table-title">Classification</span>

          <span class="added table-title">2021/8/2</span>
          <span class="added"><input type="time" /></span>
          <span class="added"><input type="time" /></span>
          <span class="added"><input type="number" /></span>
          <span class="added timesheet-value" id="working-hr"></span>
          <span class="added timesheet-value" id="late-leaving"></span>
          <span class="added timesheet-value" id="overtime"></span>
          <span class="added timesheet-value" id="classification">NA</span>
        </div>
      </div>
      <button class="timesheet-btn timesheet-add-item-btn">
        <ion-icon
          class="timesheet-add-item-icon"
          name="add-circle-outline"
        ></ion-icon>
      </button>
      <button class="timesheet-btn timesheet-remove-item-btn">
        <ion-icon
          class="timesheet-remove-item-icon"
          name="remove-circle-outline"
        ></ion-icon>
      </button>
    </section>
  </body>
  <script defer src="../js/script.js"></script>
  <!-- Icon -->
  <script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
  ></script>
</html>
