.project-status-section {
  margin: 3rem 10rem;
}

.project-status {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  margin-left: 0rem;
  margin-top: 0.5rem;
}
